/* font-family: 'Pathway Gothic One', sans-serif;
font-family: 'Lexend Mega', sans-serif; */

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?nm58wl');
    src:  url('../fonts/icomoon.eot?nm58wl#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?nm58wl') format('truetype'),
      url('../fonts/icomoon.woff?nm58wl') format('woff'),
      url('../fonts/icomoon.svg?nm58wl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

body{
    width: 960px;
    margin: 0 auto;
    /* border: 1px solid black; */
}
.volanta{
    width: 300px;
    background-color: #6fc283;
    position: relative;
    top: 0;
    left: 430px;
}
h3{
    font-family: 'Lexend Mega', sans-serif; 
    font-size: 1.1em;
    margin: 0;
    padding: 0.3em;
    color: white;
    letter-spacing: 0.6em;
}
.logo{
    position: absolute;
    top: 0;   
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 8.8em;
    color: white;
    text-shadow: -1px -1px 1px #bbbdc0,
    1px -1px 1px #bbbdc0,
    -1px 1px 1px #bbbdc0,
    1px 1px 1px #bbbdc0;
    margin: 0px;
    letter-spacing: -10px;
}
a{
    text-decoration: none;
}
.logo a h1{
    transition: all 1s ease;
}
.logo a h1:hover{
    letter-spacing: -11px;  
    text-shadow: -1px -1px 1px #bed99e,
    1px -1px 1px #bed99e,
    -1px 1px 1px #bed99e,
    1px 1px 1px #bed99e;

}
.social{
    float: right;
/*     background-color: chartreuse;*/    
    width: 80px;
    text-align: center;
    
}
.social ul{
    list-style: none;
    padding: 0.5em;
    margin-right: 1em;
}
.boton{
    font-size: 2em;
    text-decoration: none;
    color: #bbbdc0;
}

.icon-instagram:before {
    font-family: "icomoon";
    content: "\ea92";
  }
.icon-whatsapp:before {
    font-family: "icomoon";
    content: "\ea93";
   }
.boton:hover{
    color: #8ac271;
}

.sail{
    width: 675px;
    clear: both;
    margin: auto auto 40px;
}
nav ul li{
    font-family:'Pathway Gothic One', sans-serif;
    display: inline-block;
    width: 20%;
    margin-right: 0.5em;
}
nav ul li a{
    text-decoration: none;
    font-size: 1.5em;
    background-color: #bed99e;
    color: white;
    text-align: center;
    display: block;
    padding: 4px;  
    transition: all 0.5s ease;
}
.sail ul li:nth-child(odd) a{
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}
.sail ul li:nth-child(even) a{
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
nav ul li a:hover{
    background-color: #6fc283;
    box-shadow: 5px 5px 5px rgb(74, 131, 99);
}

.interior-head{
    border-top: 3px dotted #6fc283;
    margin-bottom: 40px;
}
.interior-title{
    width: 300px;
    background-color: #6fc283;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}
.gallery-int{
    width: 700px;
    margin: auto;
}
.gallery-item:nth-child(even){
    float: right;
}
.gallery-item:nth-child(odd){
    float: left;
}


.gallery-int img{
    width: 325px;
    height: 180px;
}
.gallery-item{
    width: 325px;
    text-align: left;
    margin-bottom: 20px;
}
.gallery-item h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    display: block;
    border-bottom: 3px dotted #6fc283;
    padding-bottom: 10px;
    margin: 0;

}



footer{
    width: 960px;
}
footer .footer-nav{
    width: 675px;
    margin: 70px auto 30px;
}
.footer-nav ul li{
    font-family:'Pathway Gothic One', sans-serif;
    display: inline-block;
    width: 20%;
    margin-right: 0.5em;
}
.footer-nav ul li a{
    text-decoration: none;
    font-size: 1.5em;
    background-color: #bed99e;
    color: white;
    text-align: center;
    display: block;
    padding: 4px;  
    transition: all 0.5s ease;
}
ul li:nth-child(odd) a{
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}
ul li:nth-child(even) a{
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.footer-nav ul li a:hover{
    background-color: #6fc283;
    box-shadow: 5px 5px 5px rgb(74, 131, 99);
}
footer .end{
    width: 960px;
    border-top: 3px dotted #6fc283;
    height: 200px;
}
footer .end h3{
    color: #6fc283;
    font-size: 0.85em;
    text-align: center;
    margin-top: 40px;
}
footer .end h3 span{
    color: #bbbdc0;
    display: block;
    margin-top: 20px;
}


